body {
    font-family: Arial, sans-serif;
    text-align: center;
}

input, button {
    margin: 5px;
    padding: 10px;
}

h2, h3 {
    color: #333;
}

#message {
    margin: 10px;
    font-size: 18px;
}
